
@{
    Layout = null;
}


<html>

    <head>
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <style>
            
            label {
                color: white;
            }

            body {
             

            
                background-image: url('../../Images/home.jpg');
                background-repeat: no-repeat;
                background-size: cover;
            }

            Signup-content {
                background: #ffffff;
                border-radius: 5px;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                padding: 25px 25px;
            }

            .container {
                width: 660px;
                position: absolute;
                margin: 0 auto;
            }
        </style>
    </head>
 <body>
    <div class="container">
        <div class="Signup-content">

            <h2>Search  Community Leader</h2>
            <div class="form-group">
                <input type="text" class="form-input" name="name" id="name" placeholder=" Enter Leader ID" />
            </div>
            <div>
                @using (Html.BeginForm("Search", "CommunityLeader"))
                {
                <button type="submit" class="btn btn-primary">Search</button>
                }
            </div>
            @Html.ActionLink("Go back to home", "Index", "Homepage")
        </div>
    </div>

</body>
</html>
