
@{
    Layout = null;
}

<h2>Delete Patient</h2>
<html>

    <head>
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <style>
           

            label {
                color: white;
            }

            body {
                background-image: url('../../IMAGES/pills-amoxicillin-capsules-wallpaper.jpg');
                background-repeat: no-repeat;
                background-size: cover;
            }
        </style>
    </head>
    <body>
        <div class="form-group">
            <input type="text" class="form-input" name="name" id="name" placeholder=" Enter Patient ID" />
        </div>
        @using (Html.BeginForm("", ""))
        {
            <input type="submit" name="btnAdd" value="Delete Patient" />
        }
        @Html.ActionLink("Go back to home", "Index", "Homepage")
    </body>
</html>