
@{
    Layout = null;
}



<html>

    <head>
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <style>
            table td, tr, th, tbody {
                border: 1.5px solid black;
            }

            td {
                color: white;
            }

            label {
                color: white;
            }

            body {
                background-image: url('../../IMAGES/proper.jpg');
                background-repeat: no-repeat;
                background-size: cover;
            }

            .Signup-content {
                background: #ffffff;
                border-radius: 5px;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                -ms-border-radius: 5px;
                padding: 25px 25px ;
            }

            .container {
                width: 660px;
                position: absolute;
                margin: 0 auto;
            }
        </style>
    </head>
<body>
    <div class="container">
        <div class=" Signup-content">
            <h2>Patient Information</h2>
            <div class="form-group">
                <input type="text" class="form-input" name="name" id="name" placeholder=" Patient Name" />
            </div>
            <div class="form-group">
                <input type="text" class="form-input" name="name" id="name" placeholder=" Patient Surname" />
            </div>
            <div class="form-group">
                <input type="text" class="form-input" name="name" id="name" placeholder="Patient Age" />
            </div>
            <div class="form-group">
                <input type="text" class="form-input" name="name" id="name" placeholder="Patient ID Number" />
            </div>
            <div class="form-group">
                <input type="text" class="form-input" name="name" id="name" placeholder=" PatientProvince" />
            </div>
            <div class="form-group">
                <input type="text" class="form-input" name="name" id="name" placeholder="Patient City" />
            </div>
            <div class="form-group">
                <input type="text" class="form-input" name="name" id="name" placeholder="Patient Date Of Birth" />
            </div>
            <div class="form-group">
                <input type="text" class="form-input" name="name" id="name" placeholder="Patient Phone Number" />
            </div>
            <div class="form-group">
                <input type="text" class="form-input" name="name" id="name" placeholder="Patient Village" />
            </div>
            @using (Html.BeginForm("Index", "Homepage"))
            {
                <input type="submit" name="btnAdd" value="Create Profile" />
            }
            @Html.ActionLink("Go back to home", "Index", "Homepage")

        </div>
    </div>

</body>
</html>


